

.fa-2x {
  font-size: 26px;
}

.menu-container {
  width: 500px;
  height: 80px;
  padding: 4px 20px 0px 20px;
  background: #fff;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 0;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

input[type="radio"] {
  display: none;
}

label {
  color: $inactive-item-color;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  transition: 0.25s ease-in;
}

.item {
  text-align: center;
}

.item-title {
  margin-top: 14px;
  margin-bottom: -6px;
  color: $text-color;
  font-weight: 600;
  font-size: 11px;
}

.blob-container {
  position: absolute;
  z-index: 0;
  width: 25%;
  transition: transform 0.2s ease-out;
}

.blob {
  background: $active-item-color;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 2px auto;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: #fff;
    }
  }
}

input[id="radio-0"] {
  &:checked {
    ~ .blob-container {
      transform: translateX(0%);
      .blob {
        animation: scaleY-0 .2s linear;
      }
    }
  }
}

input[id="radio-1"] {
  &:checked {
    ~ .blob-container {
      transform: translateX(100%);
      .blob {
        animation: scaleY-1 .2s linear;
      }
    }
  }
}

input[id="radio-2"] {
  &:checked {
    ~ .blob-container {
      transform: translateX(200%);
      .blob {
        animation: scaleY-2 .2s linear;
      }
    }
  }
}

input[id="radio-3"] {
  &:checked {
    ~ .blob-container {
      transform: translateX(300%);
      .blob {
        animation: scaleY-3 .2s linear;
      }
    }
  }
}

@keyframes scaleY-0 {
  0%  { transform: scale(0);}
  60%  { transform: scaleY(0.5) translateY(30px); }
  100% { transform: scaleY(1);}
}

@keyframes scaleY-1 {
  0%  { transform: scale(0);}
  60%  { transform: scaleY(0.5) translateY(-30px); }
  100% { transform: scaleY(1);}
}

@keyframes scaleY-2 {
  0%  { transform: scale(0); }
  60%  { transform: scaleY(0.5) translateY(30px); }
  100% { transform: scaleY(1); }
}

@keyframes scaleY-3 {
  0%  { transform: scale(0); }
  60%  { transform: scaleY(0.5) translateY(-30px); }
  100% { transform: scaleY(1); }
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-color;
    font-family: 'Open Sans';
}