<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Teste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calculadora.css')}}" />
    
</head>
<body>
    <p>Simple Clock using JavaScript</p>
<div id="DisplayClock" class="clock" onload="showTime()">

  <link rel="text/javascript" href="{{ url_for('static', filename='calculadora.js')}}" />  
    <script type="text/javascript" src="{{ url_for('static', filename='calculadora.js') }}"></script>
</div>
</body>
</html>