    {% extends 'base.html' %}
    
    {% block conteudo %}
    <h2>Hello {{ nome }}</h2>
    <p>
        Profissão: {{dados.profissao}}<br/>
        Canal YT: {{dados.canal}}

        <ul class="container">
            <li><a href='#'>Página Inicial</a>
              
            </li>
            <li class='dropdown'>
              <a href='#'>Meus Projetos <i class="fa fa-angle-down"></i></a>
              <div class='mega-menu'>
                <div class="container">
                  <div class="item">
                      <h3>Projetos em Python</h3>
                      <ul>
                        <li><a href='https://github.com/rogerwender/DataScience/blob/main/Prevendo_Fadiga_de_Funcionarios.ipynb'>Prevendo a fadiga de funcionarios</a></li>
                        <li><a href='https://github.com/rogerwender/DataScience/blob/main/OperadoraTelefone.ipynb'>Verificar Operadora de telefone</a></li>
                      </ul>
                  </div> <!-- /.item -->
                  <div class="item">
                      <h3>Projetos em Python </h3>
                      <ul>
                        <li><a href='https://github.com/rogerwender/DataScience/blob/main/TradutorEmPython.ipynb'>Tradutor em Python</a></li>
                        <li><a href='https://github.com/rogerwender/DataScience/blob/main/WebScraping.ipynb'>Web Scraping</a></li>     
                      </ul>
                  </div> <!-- /.item -->
                  <div class="item">
                      <h3>Portfolio</h3>
                      <ul>
                        <li><a href='#'>Portfolio Page No #1</a></li>
                      </ul>
                  </div> <!-- /.item --> 
                  <div class="item">
                     <h3>Custom</h3>
                     <img src="http://placehold.it/250x200">
                  </div> <!-- /.item -->
                </div><!-- /.container -->
              </div><!-- /.mega-menu -->
            </li><!-- /.dropdown -->
            <li class='dropdown'>
              <a href='#'>Imagens <i class="fa fa-angle-down"></i> </a>
              <div class='mega-menu'>
                <div class="container">
                  <div class="item">
                      <h3>Imagem 01</h3>
                      <img src="http://placehold.it/250x200">
                  </div> <!-- /.item -->
                </div><!-- .container -->
              </div><!-- .mega-menu-->
            </li><!-- .dropdown -->
            <li><a href='#'>Sobre</a></li>
            <li><a href='#'>Contatos</a></li>
          </ul><!-- .container -->
    </p>
    {% endblock %}