<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Meus projetos em Python - Rogério Wender</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="estilo.css" />
	
	
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>
<body>

    <div class="container">
        <ul>
         <li><a href="#sec1">Início</a></li>
         <li><a href="#sec2">Projetos</a></li>
         <li><a href="#sec3">Contatos</a></li>
         <li><a href="#sec4">Social</a></li>
         <li><a href="#sec5">Fale Conosco</a></li>
         </ul>
        
        <section id="sec1"><h1>Início</h1></section>
        <section id="sec2">
            <h1>                
                <a href='/contato'>Previsao Custo Plano Saúde</a>
                
            </h1>
        </section>
        <section id="sec3"><h1>Contatos</h1></section>
        <section id="sec4"><h1>Social</h1></section>
        <section id="sec5"><h1>Fale Conosco</h1></section>
    </div>
	
<br><br><br><br><br><br>

    {% extends 'base.html' %}
    
    {% block conteudo %}
    <h2>Hello {{ nome }}</h2>
    <p>
        Profissão: {{dados.profissao}}<br/>
        Canal YT: {{dados.canal}}


    </p>
    {% endblock %}

</body>
</html>


