<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Meus projetos em Python - Rogério Wender</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="estilo.css" />
	
	
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>
<body>
    
	
<br><br><br><br><br><br>

    {% extends 'base.html' %}
    
    {% block conteudo %}
    <h2>Hello {{ nome }}</h2>
    <p>
        Profissão: {{dados.profissao}}<br/>
        Canal YT: {{dados.canal}}


    </p>
    {% endblock %}

</body>
</html>


